TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+1234567890
DEFAULT_COUNTRY_CODE=855
DEV_OTP_MODE=true
OTP_PROVIDER=dev
INFOBIP_API_KEY=your_infobip_api_key
INFOBIP_BASE_URL=https://api.infobip.com
INFOBIP_SENDER=ServiceSMS
PLIVO_AUTH_ID=your_plivo_auth_id
PLIVO_AUTH_TOKEN=your_plivo_auth_token
PLIVO_VERIFY_APP_UUID=your_plivo_verify_app_uuid
AWS_REGION=us-east-1
